<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3-index/index.json" />
		<add key="Convesys.Framework" value="https://pkgs.dev.azure.com/convesys/_packaging/Convesys.Framework/nuget/v3/index.json" />
	</packageSources>
</configuration>