<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3-index/index.json" />
		<add key="Offline" value="C:\Users\danie\.nuget\packages\dan" />
		<add key="LocalNuget" value="https://localhost:7173/" />
	</packageSources>
</configuration>